.menu__button {
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--red-gradient),var(--yellow-gradient))  ;
    width: 50%;
    height: 50%;
    font-size: calc(1.4rem + 1.5vw);
    color: var(--light-grey);
    border-radius: .5rem;
    transition: .5s;
}

.menu__button h2 {
    color: var(--light-grey);
}

.menu__button:hover {
    background-image: linear-gradient(to right, var(--yellow-gradient),var(--red-gradient))  ;
    cursor:pointer;
    transform: scale(1.1);
}
