.details__buttom {
    color: var(--light-gray);
    background: var(--red-gradient);
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: .5s;
    text-decoration: none;
}

.details__buttom:hover {
    background: var(--dark-red);
    transform: scale(1.1);
}

@media(min-width: 1000px) {
    .details__buttom {
        margin-left: 15%;
    }
}