.calculation__form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin:.8rem auto;
    padding: 1rem;
    width: 98%;
    height: 98%;
    max-width: 600px;
    box-sizing: border-box;
    font-weight: bolder;
    color: var(--white);
    font-size: calc(1rem + 1vw);
}

@media(min-width:600px) {
    .calculation__form {
        font-size: calc(1.4rem);
    }
}

@media(min-width:980px) {
    .calculation__form {
        width: 50%;
        font-size: calc(1.4rem);
        margin-left: 12%;
    }
}

@media(min-width:1600px) {
    .calculation__form {
        margin-left: 20%;
        max-width: 900px;
    }
}