.labels {
    display: flex;
    width: 40%;
    margin: auto 0;
    margin-left: 2%;
}

.legends {
    width: 50%;
}


@media(min-width:1600px) {
    .labels,
    .legends {
        font-size: calc(2rem);
    }
}