.calculation__title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: calc(1.4rem + 1.2vw);
}


@media(min-width:1600px) {
    .calculation__title {
        font-size: calc(2.4rem + 1.4vh);
    }
}