.input__default {
    flex-shrink: 0;
    font-size: calc(.6rem + 1.1vh);
    width: 50%;
    margin: 1rem auto;
}


@media(min-width:500px) {
    .input__default {
        font-size: calc(.8rem + 1.4vh);
    }
}

@media(min-width:1600px) {
    .input__default {
        font-size: calc(1.2rem + 1.4vh);
    }
}
