.calculate__button {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 2% auto;
    padding: 1rem 0;
    background: var(--red-gradient);
    color: var(--white);
    font-weight: bold;
    font-size: calc(1.1rem + 1.5vw);
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: .5s;
}

.calculate__button:hover {
    background: var(--dark-red);
    cursor:pointer;
    transform: scale(1.1);
}

@media(min-width:600px) {
    .calculate__button {
        font-size: 1.6rem;
    }
}