.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat center / cover url('/assets/images/home/splash.png') ;
    width: 100%;
    height: 99vh;
}

@media(min-width:760px) {
    .banner {
        width: 45%;
    }
}

@media(min-width:900px) {
    .banner {
        width: 50%;
    }
}

@media(min-width:1080px) {
    .banner {
        width: 55%;
    }
}

@media(min-width:1200px) {
    .banner {
        width: 60%;
    }
}