.details__buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

@media (min-width: 1600px){
    .details__buttons{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .details__buttons{
        width: 100%;
    }
}

