.result__button {
    color: var(--light-grey);
    background: var(--red-gradient);
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: .5s;
    text-decoration: none;
    font-size: calc(.8rem + 1.4vh);
}

.result__button:hover {
    background: var(--dark-red);
    transform: scale(1.1);
}

@media(min-width: 1000px) {
    .result__button {
        font-size: calc(1.4rem + 1.4vh);
    }
}