.alert__modal {
    display: flex;
    flex-direction: column;
    top: .5%;
    right: 5%;
    background:rgba(185, 0, 0, 1);
    position: absolute;
    border-radius: .5rem;
    width: calc(15rem - 1vh);
    height: 8%;
    padding:.5rem;
    color: var(--light-grey);
}

.alert__description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(.6rem + 1vh);
    font-weight: 3rem;
    border: 1px solid var(--yellow-gradient);
    box-sizing: border-box;
    border-radius: .5rem;
    margin: auto auto;
    padding:.5rem;
    width: 90%;
    height:90%;
}

.invisible {
    display: none;
}

@media(min-width: 768px) {
    .alert__modal {
        height: 10%;
        width: calc(18rem - 1vh);
    }
}

@media(min-width:1600px) {
    .alert__modal {
        font-size: calc(1.4rem + 1.4vh);
        width: calc(28rem - 1vh);
    }

    .alert__description { 
        font-size: calc(1rem + 1vh);
       
    }
}

