@media(min-width:1020px) {
    .calculator__image {
        display: flex;
        justify-content: center;
        margin: auto 2rem auto 0;
        background: no-repeat 20% / contain url('/assets/images/calculation/calculator.png');
        width: 28%;
        height: 100%;
    }
}


@media(min-width:1600px) {
    .calculator__image {
       margin-right: 3%;
    }
}