.details__elipse {
    display: flex;
    align-items: center;
    background: no-repeat left top / contain url('../../images/details/elipse1.png');
    width: 100%;
    height: 20%;
}



@media screen and (max-width: 480px){
    .details__elipse{
        display: flex;
        margin: 0 auto;
        width: 98%;
        height: 50%;
        background: rgba(0,0,0, 0.7);
    }
}