html {
    min-width: 320px;
    max-width: 2565px;
    font-size: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    background: no-repeat right / contain url('../../images/details/elipse2.png');
    border-bottom: 5px solid var(--destaque-blue);
    width: 100%;
    height: 100%;
    margin: 0 0 1.5% 0;
}

@media screen and (max-width: 600px){
    .details {
        background: none;
    }

}