:root {
    /*colors home*/
    --white: #FFFFFF;
    --light-gray: #F0E9E9;
    --reddish-gray: #C4C4C4;
    --blue: #363ECF;
    --opaque-red: #DD5252; 
    --destaque-blue: #68E1FD;
    --black: #000000;
    --lilac-base: #6A16E1; 
    --red-gradient:#e71700;
    --yellow-gradient:#fcac00;
}