:root {
    /*colors home*/
    --white: #FFFFFF;
    --light-grey: #F0E9E9;
    --reddish-grey: #C4C4C4;
    --blue: #363ECF;
    --blue-text: #4A00E0;
    --opaque-red: #DD5252; 
    --opaque-green: #83c47d; 
    --destaque-blue: #68E1FD;
    --black: #000000;
    --lilac-base: #6A16E1; 
    --red-gradient:#e71700;
    --dark-red: #b80808;
    --yellow-gradient:#fcac00;
}