@font-face {
    font-family: 'base-source';
    src: url('/assets/fonts/sansation/Sansation_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'base-bold-italic';
    src: url('/assets/fonts/sansation/Sansation_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'base-light-italic';
    src: url('/assets/fonts/sansation/Sansation_Light_Italic.ttf') format('truetype');
}

.banner__title,
.vector__title,
.calculation__title,
.calculate__button,
.calculation__form,
footer {
    font-family: 'base-source';
}

.banner__description,
.menu__button {
    font-family: "base-light-italic";
}